<!-- ReporterDetail.vue -->

<template>
    <h2>{{ pageTitle }}</h2>

    <table class="table table-responsive table-hover table-striped mx-2 my-4">
        <tbody>
            <tr v-for="(value, key) in detailData" :key="key">
                <template v-if="key === 'Image'">
                    <td>{{ key }}</td>
                    <td>
                        <!-- forach image array -->
                        <div v-for="(image, index) in value" :key="index">
                            <img :src="image" class="img-fluid" width="500" />
                        </div>
                    </td>
                </template>
                <template v-else>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </template>
            </tr>
        </tbody>
    </table>
    <a class="btn-primary btn px-3" @click="goBack">
        <i class="fas fa-arrow-left"></i> &nbsp; Back
    </a>
</template>

<script>
export default {
    props: {
        pageTitle: {
            type: String,
            required: true,
        },
        detailData: {
            type: Object,
            required: true,
        },
    },
    mounted() {
        console.log(this.detailData);
    },
    emits: ["go-back"], // Declare the custom event here
    methods: {
        goBack() {
            this.$emit("go-back");
        },
    },
};
</script>
