<template>
    <div
        class="modal fade show"
        :id="modalId"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        style="display: block"
        aria-modal="true"
        role="dialog"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <form @submit.prevent="updateItem">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ modalTitle }}</h5>
                        <button
                            type="button"
                            class="btn-close"
                            @click="cancelEdit"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Edit form fields here -->
                        <slot></slot>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            Update
                        </button>
                        <button
                            type="button"
                            class="btn btn-secondary"
                            @click="cancelEdit"
                        >
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        modalId: String, // Unique ID for the modal
        modalTitle: String, // Title of the modal
    },
    methods: {
        updateItem() {
            // Emit an event to notify the parent component to handle the update
            this.$emit("update", this.modalId);
        },
        cancelEdit() {
            // Emit an event to notify the parent component to cancel the edit
            this.$emit("cancel", this.modalId);
        },
    },
};
</script>
