<template>
    <form @submit.prevent="submitForm" enctype="multipart/form-data">
        <div v-for="(field, key) in form" :key="key" class="mb-3">
            <template v-if="field.type === 'dropdown'">
                <label for="exampleFormControlInput1" class="form-label">
                    {{ field.label }}
                </label>
                <select
                    v-model="field.value"
                    class="form-select"
                    aria-label="Default select example"
                >
                    <option v-for="option in field.options" :key="option.value">
                        {{ option }}
                    </option>
                </select>
            </template>

            <!-- if file type is a image -->
            <template
                v-else-if="field.type === 'file' && field.accept === 'image/*'"
            >
                <label :for="key" class="form-label">
                    {{ field.label }}
                </label>
                <input
                    :type="field.type"
                    class="form-control"
                    :id="key"
                    :name="key"
                    :placeholder="field.label"
                    accept="image/*"
                    @change="handleImageUpload(key, $event)"
                    multiple
                />
            </template>

            <template v-if="field.type === 'textarea'">
                <label for="exampleFormControlTextarea1" class="form-label">
                    {{ field.label }}
                </label>
                <textarea
                    v-model="field.value"
                    class="form-control"
                    :id="key"
                    :name="key"
                    :placeholder="field.label"
                    rows="3"
                ></textarea>
            </template>

            <template v-else>
                <label for="key" class="form-label">{{ field.label }}</label>
                <input
                    v-model="field.value"
                    :type="field.type"
                    class="form-control"
                    :id="key"
                    :name="key"
                    :placeholder="field.label"
                />
            </template>
        </div>
        <div
            v-if="Object.keys(errors).length > 0"
            class="alert alert-danger mt-3"
            role="alert"
        >
            <div v-for="(error, index) in errors" :key="index">
                {{ error[0] }}
            </div>
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary w-100">
                {{ submitText }}
            </button>
        </div>
    </form>
</template>

<script>
export default {
    name: "Form",
    props: {
        form: {
            type: Object,
            required: true,
        },
        errors: {
            type: Object,
            required: true,
        },
        submitForm: {
            type: Function,
            required: true,
        },
        submitText: {
            type: String,
            required: true,
        },
    },
    methods: {
        handleImageUpload(key, event) {
            const files = event.target.files;
            const imageArray = [];

            // Loop through selected files and add them to the imageArray
            for (let i = 0; i < files.length; i++) {
                imageArray.push(files[i]);
            }

            // Update the field.value with the array of selected images
            this.formDataReport[key].value = imageArray;
        },
    },
};
</script>
