<template>
    <!--Main Navigation-->
    <header>
        <!-- Sidebar -->
        <nav
            id="sidebarMenu"
            class="collapse d-lg-block sidebar collapse bg-white"
        >
            <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 mt-4">
                    <router-link
                        to="/dashboard/reporters"
                        class="list-group-item list-group-item-action py-2 ripple"
                    >
                        <i class="fas fa-chart-area fa-fw me-3"></i>
                        <span>Reporters</span>
                    </router-link>

                    <router-link
                        to="/dashboard/reports"
                        class="list-group-item list-group-item-action py-2 ripple"
                    >
                        <i class="fas fa-lock fa-fw me-3"></i>
                        <span>Report</span>
                    </router-link>

                    <router-link
                        to="/dashboard/categories"
                        class="list-group-item list-group-item-action py-2 ripple"
                    >
                        <i class="fas fa-chart-line fa-fw me-3"></i>
                        <span>Categories</span>
                    </router-link>

                    <router-link
                        to="/dashboard/report-tracker"
                        class="list-group-item list-group-item-action py-2 ripple"
                    >
                        <i class="fas fa-chart-pie fa-fw me-3"></i>
                        <span>Report Trackers</span>
                    </router-link>
                </div>
            </div>
        </nav>
        <!-- Sidebar -->

        <!-- Navbar -->
        <nav
            id="main-navbar"
            class="navbar navbar-expand-lg navbar-light bg-light bg-gradient fixed-top"
        >
            <!-- Container wrapper -->
            <div class="container-fluid mx-3">
                <!-- Toggle button -->
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#sidebarMenu"
                    aria-controls="sidebarMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Brand -->
                <a class="navbar-brand" href="#"> Complaint System </a>

                <!-- Right links -->
                <ul class="navbar-nav ms-auto d-flex flex-row">
                    <!-- Avatar -->
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
                            href="#"
                            id="navbarDropdownMenuLink"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            {{ name }}
                        </a>
                        <ul
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuLink"
                        >
                            <li>
                                <a
                                    class="dropdown-item"
                                    @click="this.$root.logout"
                                    href="#"
                                    >Logout</a
                                >
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>
    <!--Main Navigation-->

    <!--Main layout-->

    <!--Main layout-->
</template>

<script>
export default {
    name: "Sidebar",
    data() {
        return {
            name: this.$root.userLoggedIn?.name ?? null,
        };
    },
};
</script>
