<template>
    <template v-if="showNavbar">
        <Navbar />
        <div class="container my-3 py-3">
            <router-view />
        </div>
    </template>

    <template v-else>
        <Sidebar />
        <main style="margin-top: 75px; height: 100%">
            <router-view />
        </main>
    </template>
</template>

<script>
import Navbar from "@/Component/Navbar.vue";
import Sidebar from "@/Component/Sidebar.vue";
import axios from "axios";

export default {
    components: {
        Navbar,
        Sidebar,
    },
    computed: {
        showNavbar() {
            const currentPath = this.$route.path;
            const reportersIdPattern = /^\/dashboard\/reporters\/\d+$/;
            return (
                currentPath !== "/dashboard" &&
                currentPath !== "/dashboard/categories" &&
                currentPath !== "/dashboard/reporters" &&
                currentPath !== "/dashboard/reports" &&
                currentPath !== "/dashboard/report-tracker" &&
                !reportersIdPattern.test(currentPath)
            );
        },
    },
    data() {
        return {
            token: null,
            reporter: null,
            userLoggedIn: null,
        };
    },
    mounted() {
        this.retrieveDataFromLocalStorage();
        this.setAuthorizationHeader();
    },
    watch: {
        token: {
            handler: function () {
                this.setAuthorizationHeader(); // Replace with an arrow function
            },
            immediate: true, // Add the immediate property if needed
        },
    },
    methods: {
        retrieveDataFromLocalStorage() {
            this.token = localStorage.getItem("token") ?? null;
            this.reporter =
                JSON.parse(localStorage.getItem("reporter")) ?? null;
            this.userLoggedIn =
                JSON.parse(localStorage.getItem("userLoggedIn")) ?? null;
        },
        setAuthorizationHeader() {
            axios.defaults.headers.common["Authorization"] =
                "Bearer " + this.token;
        },
        logout() {
            localStorage.removeItem("token");
            localStorage.removeItem("userLoggedIn");
            this.userLoggedIn = null;
            this.token = null;
            this.$router
                .push("/login")
                .then(() => {
                    window.location.reload();
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        goBack() {
            this.$router.back();
        },
    },
};
</script>
