<template>
    <h1>Welcome to our Complaint System</h1>
    <p>We are here to assist you with your concerns and feedback.</p>
    <router-link class="btn btn-light border" to="/report"
        >Submit a Report
    </router-link>
</template>
