<template>
    <h2 class="text-center mb-4">Report Form</h2>
    <div class="col-11 col-sm-8 col-xl-4 mx-auto">
        <template v-if="formReporterIsVisible">
            <Form
                :form="formDataReporter"
                :errors="errors"
                :submitForm="submitFormReporter"
                submitText="Next"
            />
        </template>
        <template v-if="formReportIsVisible">
            <Form
                :form="formDataReport"
                :errors="errors"
                :submitForm="submitForm"
                submitText="Submit"
            />
        </template>
    </div>
</template>

<script>
import axios from "axios";
import Form from "@/Component/Form.vue";

export default {
    components: {
        Form,
    },
    name: "ReportPage",
    data() {
        const storedReporter =
            JSON.parse(localStorage.getItem("reporter")) || {};
        const {
            name: { value: storedName = "" } = {},
            email: { value: storedEmail = "" } = {},
            phone_number: { value: storedPhoneNumber = "" } = {},
            identity_type: { value: storedIdentityType = "" } = {},
            identity_number: { value: storedIdentityNumber = "" } = {},
            place_of_birth: { value: storedPlaceOfBirth = "" } = {},
            date_of_birth: { value: storedDateOfBirth = "" } = {},
            address: { value: storedAddress = "" } = {},
        } = storedReporter;

        return {
            keyValueArrayReporter: {},
            keyValueArrayReport: {},
            formReportIsVisible: false,
            formReporterIsVisible: true,
            formDataReporter: {
                name: {
                    label: "Name",
                    value: storedName,
                    type: "text",
                },
                email: {
                    label: "Email",
                    value: storedEmail,
                    type: "email",
                },
                phone_number: {
                    label: "Phone Number",
                    value: storedPhoneNumber,
                    type: "number",
                },
                identity_type: {
                    label: "Identity Type",
                    value: storedIdentityType,
                    type: "dropdown",
                    options: ["KTP", "SIM"],
                },
                identity_number: {
                    label: "Identity Number",
                    value: storedIdentityNumber,
                    type: "number",
                },
                place_of_birth: {
                    label: "Place of Birth",
                    value: storedPlaceOfBirth,
                    type: "text",
                },
                date_of_birth: {
                    label: "Date of Birth",
                    value: storedDateOfBirth,
                    type: "date",
                },
                address: {
                    label: "Address",
                    value: storedAddress,
                    type: "text",
                },
            },
            formDataReport: {
                title: {
                    label: "Title",
                    value: "",
                    type: "text",
                },
                description: {
                    label: "Description",
                    value: "",
                    type: "textarea",
                },
                image: {
                    label: "Image",
                    value: [], // Initialize as an empty array
                    type: "file",
                    multiple: true,
                },
            },

            errors: {},
        };
    },

    methods: {
        submitFormReporter() {
            localStorage.setItem(
                "reporter",
                JSON.stringify(this.formDataReporter)
            );

            this.keyValueArrayReporter = this.objectToKeyValueArray(
                this.formDataReporter
            );

            this.formReporterIsVisible = false;
            this.formReportIsVisible = true;
        },
        async submitForm() {
            console.log(this.formDataReport);

            // Create a FormData object
            const formData = new FormData();

            // Append form fields to the FormData object
            for (const key in this.formDataReport) {
                if (this.formDataReport.hasOwnProperty(key)) {
                    const field = this.formDataReport[key];
                    if (field.type === "file") {
                        // Handle file input
                        for (let i = 0; i < field.value.length; i++) {
                            // Use a consistent field name for all files (e.g., "images[]")
                            formData.append("images[]", field.value[i]);
                        }
                    } else {
                        // Handle other form fields
                        formData.append(key, field.value);
                    }
                }
            }

            try {
                const responseReporter = await axios.post(
                    `${this.$apiUrl}/reporters`,
                    this.keyValueArrayReporter
                );
                const reporterId = responseReporter.data.result.id;

                formData.append("reporter_id", reporterId); // Add reporter_id to FormData

                console.log(formData); // Check if the FormData object contains the data

                const responseReport = await axios.post(
                    `${this.$apiUrl}/reports`,
                    formData, // Send FormData instead of keyValueArrayReport
                    {
                        headers: {
                            "Content-Type": "multipart/form-data", // Set content type for file upload
                        },
                    }
                );

                console.log(responseReport);
            } catch (error) {
                console.log(error);
                this.errors = error.response.data.errors;
            }
        },

        objectToKeyValueArray(obj) {
            return Object.fromEntries(
                Object.entries(obj).map(([key, value]) => [key, value.value])
            );
        },
    },
};
</script>
