<template>
    <div class="table-responsive">
        <DataTable
            ref="CategoryTable"
            id="CategoryTable"
            class="table table-striped"
            :columns="columns"
            :ajax="{
                url: `${$apiUrl}/categories`,
                processData: true,
                serverSide: true,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', tokenDatatable);
                },
            }"
            :processing="true"
        />
    </div>

    <EditModal
        v-if="editingCategory"
        :modal-id="'editCategoryModal'"
        :modal-title="'Edit Category'"
        @update="updateCategory"
        @cancel="cancelEdit"
    >
        <template v-slot>
            <div class="form-group mb-3">
                <label for="name" class="form-label">Name:</label>
                <input
                    type="text"
                    v-model="editedCategory.name"
                    class="form-control"
                    id="name"
                    required
                />
            </div>
            <div class="form-group mb-3">
                <label for="slug" class="form-label">Slug:</label>
                <input
                    type="text"
                    v-model="editedCategory.slug"
                    class="form-control"
                    id="slug"
                    required
                />
            </div>
        </template>
    </EditModal>
</template>

<script>
import DataTable from "datatables.net-vue3";
import DataTablesCore from "datatables.net-dt";
import axios from "axios";
import EditModal from "@/Component/EditModal.vue";

DataTable.use(DataTablesCore);

export default {
    components: {
        DataTable,
        EditModal,
    },
    mounted() {
        const table = $("#CategoryTable");
        const self = this;
        table.on("click", ".edit-category", function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            self.editCategory(id);
        });
    },
    data() {
        return {
            editingCategory: false,
            editedCategoryId: null,
            editedCategory: {
                name: "",
                slug: "",
            },
            tokenDatatable: "Bearer " + this.$root.token,
            columns: [
                {
                    title: "No",
                    data: "DT_RowIndex",
                },
                {
                    title: "Name",
                    data: "name",
                },
                {
                    title: "Slug",
                    data: "slug",
                },
                {
                    title: "Actions",
                    // render
                    render: function (data, type, row, meta) {
                        return `
                            <button class="btn btn-warning btn-sm edit-category" data-id="${row.id}">
                                <i class="fas fa-pencil"></i>
                            </button>
                        `;
                    },
                },
            ],
        };
    },
    methods: {
        async fetchData(categoryId) {
            try {
                const response = await axios.get(
                    `${this.$apiUrl}/categories/${categoryId}`
                );
                console.log(response);
                return response.data.result;
            } catch (error) {
                return error;
            }
        },
        async editCategory(categoryId) {
            this.editedCategoryId = categoryId;
            console.log("try to edit category" + categoryId);
            this.editedCategory = await this.fetchData(categoryId);
            this.editingCategory = true;
        },
        cancelEdit() {
            this.editingCategory = false;
            this.editedCategoryId = null;
            this.editedCategory = {
                name: "",
                slug: "",
            };
        },

        updateCategory() {
            const categoryId = this.editedCategoryId;

            axios
                .post(
                    `${this.$apiUrl}/categories/${categoryId}`,
                    this.editedCategory
                )
                .then((response) => {
                    console.log(response);
                    // window.location.reload();
                    this.$router.go();
                    this.cancelEdit();
                })
                .catch((error) => {
                    console.log(error);
                });
        },
    },
};
</script>
