<template>
    <h2 class="text-center mb-4">Login Form</h2>
    <div class="col-11 col-sm-8 col-xl-4 mx-auto">
        <form action="" method="post" @submit.prevent="submitForm">
            <div class="mb-3">
                <input
                    v-model="formData.username"
                    type="text"
                    name="username"
                    id="username"
                    class="form-control"
                    placeholder="Username"
                />
            </div>
            <div class="mb-3">
                <input
                    v-model="formData.password"
                    type="password"
                    name="password"
                    id="password"
                    class="form-control"
                    placeholder="Password"
                />
            </div>
            <div>
                <button type="submit" class="btn btn-primary w-100">
                    Login
                </button>
            </div>
        </form>
        <div
            v-if="errorMessage && errorMessage.length > 0"
            class="alert alert-danger mt-3"
            role="alert"
        >
            <div v-for="(error, index) in errorMessage" :key="index">
                {{ error[0] }}
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "LoginPage",
    data() {
        return {
            formData: {
                username: "",
                password: "",
            },
            errorMessage: [],
        };
    },
    methods: {
        async submitForm() {
            try {
                const response = await axios.post(
                    `${this.$apiUrl}/login`,
                    this.formData
                );

                const token = response.data.result.access_token;
                localStorage.setItem("token", token);

                const userLoggedIn = await axios.get(`${this.$apiUrl}/me`, {
                    headers: {
                        Authorization: `Bearer ${token}`,
                    },
                });

                localStorage.setItem(
                    "userLoggedIn",
                    JSON.stringify(userLoggedIn.data.result)
                );

                this.$root.token = response.data.access_token;
                this.$root.userLoggedIn = userLoggedIn.data.result;

                this.$router.push("/dashboard/reporters").then(() => {
                    window.location.reload().catch((error) => {
                        console.log(error);
                    });
                });
            } catch (error) {
                this.errorMessage = Object.values(error.response.data.errors);
            }
        },
    },
};
</script>
