<template>
    <div v-if="tableIsVisible" class="table-responsive">
        <DataTable
            ref="ReportTable"
            id="ReportTable"
            class="table table-striped"
            :columns="columns"
            :ajax="{
                url: `${$apiUrl}/reports`,
                processData: true,
                serverSide: true,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', tokenDatatable);
                },
            }"
            :processing="true"
        />
    </div>

    <Detail
        v-if="showReportisVisible"
        :pageTitle="detailPageTitle"
        :detail-data="showReportDetailData"
        @go-back="exitDetailPage"
    />
</template>

<script>
import DataTable from "datatables.net-vue3";
import DataTablesCore from "datatables.net-dt";
import axios from "axios";
import Detail from "@/Component/Detail.vue";
import _ from "lodash";

DataTable.use(DataTablesCore);

export default {
    components: {
        DataTable,
        Detail,
    },
    beforeDestroy() {
        $(document).off("click", "#ReportTable .show-report");
    },
    created() {
        const self = this;

        let formDataVerify = new FormData();
        let verifyReportId = null;

        $(document).on("click", ".category-dropdown", function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            verifyReportId = id;
        });

        $(document).on("click", ".status-dropdown", function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            verifyReportId = id;
        });

        $(document).on(
            "click",
            ".category-item",
            _.debounce(function (e) {
                e.preventDefault();
                var categoryId = $(this).data("category-id");
                formDataVerify.append("category_id", categoryId);
                self.verifyCategory(formDataVerify, verifyReportId);

                verifyReportId = null;
                formDataVerify = new FormData();
            }, 300)
        ); // Debounce for 300 milliseconds

        $(document).on(
            "click",
            ".status-item",
            _.debounce(function (e) {
                e.preventDefault();
                var status = $(this).data("status");
                formDataVerify.append("status", status);
                self.verifyStatus(formDataVerify, verifyReportId);

                verifyReportId = null;
                formDataVerify = new FormData();
            }, 300)
        ); // Debounce for 300 milliseconds

        $(document).on("click", ".show-report", function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            self.showReport(id);
            console.log("show report", id);
        });
    },

    mounted() {
        this.getCategory();
    },

    data() {
        return {
            tableIsVisible: true,
            detailPageTitle: "Report Detail",
            showReportisVisible: false,
            showReportDetailData: {},
            categoryDropdownOptions: [],
            statusDropdownOptions: [
                "Proses Administratif",
                "Proses Penanganan",
                "Selesai Ditangani",
                "Laporan Ditolak",
            ],

            tokenDatatable: "Bearer " + this.$root.token,
            columns: [
                {
                    title: "No",
                    data: "DT_RowIndex",
                },
                {
                    title: "Reporter",
                    data: "reporter.name",
                },
                {
                    title: "Ticket Id",
                    data: "ticket_id",
                },
                {
                    title: "Category",
                    data: "category.name",
                    render: function (data, type, row) {
                        return `<div class="dropdown category-dropdown" data-id="${
                            row.id
                        }">
                            <button
                                class="btn btn-sm btn-light dropdown-toggle selected-category"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                ${data ?? "Select"}
                            </button>
                            <ul class="dropdown-menu category-menu">
                            </ul>
                        </div>`;
                    },
                },
                {
                    title: "Title",
                    data: "title",
                },
                {
                    title: "Status",
                    data: "status",
                    render: function (data, type, row) {
                        return `<div class="dropdown status-dropdown" data-id="${
                            row.id
                        }">
                                <button
                                    class="btn btn-sm btn-light dropdown-toggle selected-status"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    ${data ?? "Select"}
                                </button>
                                <ul class="dropdown-menu status-menu">
                                    <li><button class="dropdown-item status-item" data-status="Proses Administratif">Proses Administratif</button></li>
                                    <li><button class="dropdown-item status-item" data-status="Proses Penanganan">Proses Penanganan</button></li>
                                    <li><button class="dropdown-item status-item" data-status="Selesai Ditangani">Selesai Ditangani</button></li>
                                    <li><button class="dropdown-item status-item" data-status="Laporan Ditolak">Laporan Ditolak</button></li>
                                </ul>
                            </div>`;
                    },
                },
                {
                    // date with format dd-mm-yy
                    title: "Created At",
                    data: "created_at",
                    render: function (data, type, row) {
                        return new Date(data).toLocaleDateString("en-GB");
                    },
                },
                {
                    title: "Actions",
                    render: function (data, type, row, meta) {
                        return `
                            <button class="btn btn-primary btn-sm show-report" data-id="${row.id}">
                                <i class="fas fa-eye"></i>
                            </button>
                        `;
                    },
                },
            ],
        };
    },

    methods: {
        verifyCategory(formData, reportId) {
            console.log(reportId);
            console.log(formData.get("category_id"));
            axios
                .post(`${this.$apiUrl}/reports/${reportId}/verify`, formData)
                .then((response) => {
                    console.log(response.data.result);
                    console.log("success");
                    // window.location.reload();
                    this.$router.go();
                })
                .catch((error) => {
                    console.log(error);
                });
        },

        verifyStatus(formData, reportId) {
            console.log(reportId);
            console.log(formData.get("status"));

            axios
                .post(`${this.$apiUrl}/reports/${reportId}/verify`, formData)
                .then((response) => {
                    console.log(response.data.result);
                    console.log("success");
                    // window.location.reload();
                    this.$router.go();
                })
                .catch((error) => {
                    console.log(error);
                });
        },

        async getCategory() {
            try {
                const response = await axios.get(
                    `${this.$apiUrl}/categories/json`
                );
                this.categoryDropdownOptions = Object.values(
                    response.data.result
                ).map((category) => ({
                    id: category.id,
                    name: category.name,
                }));

                for (let i = 0; i < this.categoryDropdownOptions.length; i++) {
                    $(".category-menu").append(
                        `<li><button class="dropdown-item category-item" data-category-id=${this.categoryDropdownOptions[i].id}>${this.categoryDropdownOptions[i].name}</button></li>`
                    );
                }
            } catch (error) {
                console.error("Error fetching dropdown options:", error);
            }
        },
        exitDetailPage() {
            this.showReportisVisible = false;
            this.tableIsVisible = true;
            this.showReportDetailData = {};
        },
        async fetchData(reportId) {
            try {
                const response = await axios.get(
                    `${this.$apiUrl}/reports/${reportId}`
                );
                return response.data.result;
            } catch (error) {
                return error;
            }
        },

        async showReport(reportId) {
            try {
                this.showReportDetailData = await this.fetchData(reportId);

                this.tableIsVisible = false;
                this.showReportisVisible = true;
            } catch (error) {
                console.error("Error fetching reporter details:", error);
            }
        },
    },
};
</script>
