<!-- ReporterDetail.vue -->

<template>
    <h2>Reporter Detail</h2>

    <table class="table table-responsive table-hover table-striped mx-2 my-4">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ reporter.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ reporter.email }}</td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>{{ reporter.phone_number }}</td>
            </tr>
            <tr>
                <th>Identity Type</th>
                <td>{{ reporter.identity_type }}</td>
            </tr>
            <tr>
                <th>Identity Number</th>
                <td>{{ reporter.identity_number }}</td>
            </tr>
            <tr>
                <th>Place of Birth</th>
                <td>{{ reporter.place_of_birth }}</td>
            </tr>
            <tr>
                <th>Date of Birth</th>
                <td>{{ reporter.date_of_birth }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ reporter.address }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn-primary btn px-3" @click="this.$root.goBack">
        <i class="fas fa-arrow-left"></i> &nbsp; Back
    </a>
</template>

<script>
import axios from "axios";

export default {
    data() {
        return {
            reporter: {}, // Initialize an empty object to hold reporter data
        };
    },
    mounted() {
        // Fetch reporter details when the component is mounted
        this.fetchReporterDetails();
    },
    methods: {
        async fetchReporterDetails() {
            try {
                const reporterId = this.$route.params.id; // Get the reporter id from the route parameter
                const response = await axios.get(
                    `${this.$apiUrl}/reporters/${reporterId}`
                );
                this.reporter = response.data.result;
            } catch (error) {
                console.error("Error fetching reporter details:", error);
            }
        },
    },
};
</script>
