<template>
    <div class="table-responsive">
        <DataTable
            ref="myDataTable"
            class="table table-striped"
            :columns="columns"
            :ajax="{
                url: `${$apiUrl}/report-trackers`,
                processData: true,
                serverSide: true,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', tokenDatatable);
                },
            }"
            :processing="true"
        />
    </div>
</template>

<script>
import DataTable from "datatables.net-vue3";
import DataTablesCore from "datatables.net-dt";

DataTable.use(DataTablesCore);

export default {
    components: {
        DataTable,
    },
    data() {
        return {
            tokenDatatable: "Bearer " + this.$root.token,
            columns: [
                {
                    title: "Id",
                    data: "id",
                },
                {
                    title: "Ticket Id",
                    data: "report.ticket_id",
                },
                {
                    title: "Title",
                    data: "report.title",
                },
                {
                    title: "Status",
                    data: "status",
                },
                {
                    title: "Note",
                    data: "note",
                },
                {
                    title: "Updated By",
                    data: "user.name",
                },
                {
                    title: "Updated At",
                    data: "updated_at",
                    render: function (data, type, row) {
                        return new Date(data).toLocaleDateString("en-GB");
                    },
                },
            ],
        };
    },
};
</script>
