<template>
    <div v-if="tableIsVisible" class="table-responsive">
        <DataTable
            ref="ReporterTable"
            id="ReporterTable"
            class="table table-hover table-striped"
            :columns="columns"
            :ajax="{
                url: `${$apiUrl}/reporters`,
                processData: true,
                serverSide: true,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', tokenDatatable);
                },
            }"
            :processing="true"
        />
    </div>

    <Detail
        v-if="showReporterisVisible"
        :page-title="detailPageTitle"
        :detail-data="showReporterDetailData"
        @go-back="exitDetailPage"
    />

    <div
        class="modal fade show"
        id="staticBackdropLive"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLiveLabel"
        style="display: block"
        aria-modal="true"
        role="dialog"
        v-if="editingReporter"
    >
        <EditModal
            v-if="editingReporter"
            :modal-id="'editReporterModal'"
            :modal-title="'Edit Reporter'"
            @update="updateReporter"
            @cancel="cancelEdit"
        >
            <template v-slot>
                <!-- Edit form fields go here (inside the slot) -->
                <div class="form-group mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input
                        type="text"
                        v-model="editedReporter.name"
                        class="form-control"
                        id="name"
                        required
                    />
                </div>

                <div class="form-group mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input
                        type="email"
                        v-model="editedReporter.email"
                        class="form-control"
                        id="email"
                        required
                    />
                </div>

                <div class="form-group mb-3">
                    <label for="phone_number" class="form-label"
                        >Phone Number:</label
                    >
                    <input
                        type="tel"
                        v-model="editedReporter.phone_number"
                        class="form-control"
                        id="phone_number"
                        required
                    />
                </div>

                <div class="form-group mb-3">
                    <label for="identity_type" class="form-label"
                        >Identity Type:</label
                    >
                    <input
                        type="text"
                        v-model="editedReporter.identity_type"
                        class="form-control"
                        id="identity_type"
                        required
                    />
                </div>

                <div class="form-group mb-3">
                    <label for="identity_number" class="form-label"
                        >Identity Number:</label
                    >
                    <input
                        type="text"
                        v-model="editedReporter.identity_number"
                        class="form-control"
                        id="identity_number"
                        required
                    />
                </div>

                <div class="form-group mb-3">
                    <label for="place_of_birth" class="form-label"
                        >Place of Birth:</label
                    >
                    <input
                        type="text"
                        v-model="editedReporter.place_of_birth"
                        class="form-control"
                        id="place_of_birth"
                        required
                    />
                </div>

                <div class="form-group mb-3">
                    <label for="date_of_birth" class="form-label"
                        >Date of Birth:</label
                    >
                    <input
                        type="date"
                        v-model="editedReporter.date_of_birth"
                        class="form-control"
                        id="date_of_birth"
                        required
                    />
                </div>

                <div class="form-group mb-3">
                    <label for="address" class="form-label">Address:</label>
                    <input
                        type="text"
                        v-model="editedReporter.address"
                        class="form-control"
                        id="address"
                        required
                    />
                </div>
                <!-- Add other form fields as needed -->
            </template>
        </EditModal>
    </div>
</template>

<script>
import DataTable from "datatables.net-vue3";
import DataTablesCore from "datatables.net-dt";
import axios from "axios";
import Detail from "@/Component/Detail.vue";
import EditModal from "@/Component/EditModal.vue";

DataTable.use(DataTablesCore);

export default {
    components: {
        DataTable,
        Detail,
        EditModal,
    },
    mounted() {
        const self = this;
        $(document).on("click", "#ReporterTable .edit-reporter", function (e) {
            e.preventDefault();
            const id = $(this).data("id");
            self.editReporter(id);
        });

        $(document).on("click", "#ReporterTable .show-reporter", function (e) {
            e.preventDefault();
            const id = $(this).data("id");
            self.showReporter(id);
        });
    },
    beforeDestroy() {
        // Clean up event listeners to prevent memory leaks
        $(document).off("click", "#ReporterTable .edit-reporter");
        $(document).off("click", "#ReporterTable .show-reporter");
    },
    data() {
        return {
            tableIsVisible: true,
            detailPageTitle: "Reporter Detail",
            showReporterisVisible: false,
            showReporterDetailData: {},

            editedReporterId: null,
            editingReporter: false,
            editedReporter: {
                name: "",
                email: "",
                phone_number: "",
                identity_type: "",
                identity_number: "",
                place_of_birth: "",
                date_of_birth: "",
                address: "",
            },
            tokenDatatable: "Bearer " + this.$root.token,
            columns: [
                {
                    title: "Id",
                    data: "id",
                },
                {
                    title: "Name",
                    data: "name",
                },
                {
                    title: "Email",
                    data: "email",
                },
                {
                    title: "Phone",
                    data: "phone_number",
                },
                {
                    title: "Address",
                    data: "address",
                },
                {
                    title: "Actions",
                    // render
                    render: function (data, type, row, meta) {
                        return `
                            <button class="btn btn-primary btn-sm show-reporter" data-id="${row.id}">
                                <i class="fas fa-eye"></i>
                            </button>
                            <button class="btn btn-warning btn-sm edit-reporter" data-id="${row.id}">
                                <i class="fas fa-pencil"></i>
                            </button>
                        `;
                    },
                },
            ],
        };
    },
    methods: {
        exitDetailPage() {
            this.showReporterisVisible = false;
            this.tableIsVisible = true;
            this.showReporterDetailData = {};
        },
        async showReporter(reporterId) {
            try {
                this.showReporterDetailData = await this.fetchData(reporterId);
                console.log(this.showReporterDetailData);

                this.tableIsVisible = false;
                this.showReporterisVisible = true;
            } catch (error) {
                console.error("Error fetching reporter details:", error);
            }
        },

        async editReporter(reporterId) {
            this.editedReporterId = reporterId;
            console.log(this.editedReporterId);
            this.editedReporter = await this.fetchData(reporterId);
            this.editingReporter = true;
        },

        async fetchData(reporterId) {
            try {
                const response = await axios.get(
                    `${this.$apiUrl}/reporters/${reporterId}`
                );
                return response.data.result;
            } catch (error) {
                return error;
            }
        },
        cancelEdit() {
            this.editingReporter = false;
            this.editedReporterId = null;
            this.editedReporter = {
                name: "",
                email: "",
                phone_number: "",
                identity_type: "",
                identity_number: "",
                place_of_birth: "",
                date_of_birth: "",
                address: "",
            };
        },

        updateReporter() {
            const reporterId = this.editedReporterId;

            // Send PUT or PATCH request to update the reporter (gunakan endpoint API yang sesuai)
            axios
                .post(
                    `${this.$apiUrl}/reporters/${reporterId}`,
                    this.editedReporter
                )
                .then(() => {
                    console.log("Reporter updated successfully.");
                    window.location.reload();
                    this.cancelEdit();
                })
                .catch((error) => {
                    console.error("Error updating reporter:", error);
                });
        },
    },
};
</script>
